/*--------------------
menu
--------------------*/

.menu-button {
	display: inline-block;
	height: 36px;
	width: 116px;
	padding: 7px;
	border-radius: 58px;
	text-align: center;
	vertical-align: middle;
}

.button-health-menu {
    background-color:rgb(77, 211, 86);
	color:#ffffff;
}

.button-beauty-menu {
    background-color:rgb(254, 204, 0);
	color:#ffffff;
}

/*--------------------
footer
--------------------*/

.footer-button {
	display: inline-block;
	height: 36px;
	width: 116px;
	padding: 7px;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
}

.button-call-phone {
    background-color:rgb(254, 204, 0);
	color:#ffffff;
}

.table-td-h4 {
	color: #47474C;
    font-size: 14px;
    font-weight: 700;
}

.table-td-p {
	color:#747377;
	font-size: 10px;
	line-height: 21px;
	font-weight: 500;
}